<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Movies </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    
    <ion-item
      button *ngFor="let item of (results | async)"
      [routerLink]="['/', 'movies', item.imdbID]">
      
      <ion-avatar slot="start">
        <img [src]="item.Poster" *ngIf="item.Poster != 'N/A'">
      </ion-avatar>


      <ion-label text-wrap>
        <h3>{{ item.Title }}</h3>
        <h6>{{ item.Year }}</h6>
      </ion-label>

    </ion-item>


  </ion-list>
</ion-content>